/*MOBILE FIRST*/
.logo{
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--navbar-height);
    z-index: 100;
    background-color: black;
    
}

.logo > a {
    color: blanchedalmond;
    text-decoration: none;
    display: inline-block;
    padding: 0 1rem;
    line-height: var(--navbar-height);
    font-family: 'Play', sans-serif;
    font-weight: bold; 
}





