/*MOBILE FIRST*/
body{
    background: url("/images/portada.jpg");
}

.logo{
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--navbar-height);
    z-index: 100;
    background-color: black;
    
}

.logo > a {
    text-shadow: blur-radius white;
    color: blanchedalmond;
    text-decoration: none;
    display: inline-block;
    padding: 0 1rem;
    line-height: var(--navbar-height);
    font-family: 'Play', sans-serif;
    font-weight: bold; 
}

.form {
    font-family: 'Play', sans-serif;
    padding: 20vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#username {
    text-align: center;
}

section.login {
    text-align: center;
}